################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bookify/FileContentIndex/3f277b3a-715c-43c5-acd1-bf2d8d8c0beb.vsidx
/.vs/Bookify/FileContentIndex/79bc58d0-235a-45c3-86e8-f1a66524ed88.vsidx
/.vs/Bookify/FileContentIndex/a7cb0135-8430-4097-ad87-286930cf9748.vsidx
/.vs/Bookify/FileContentIndex
