<div class="modal fade" tabindex="-1" id="kt_modal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    @*Title will be rendered here*@
                </h3>
                <!--begin::Close-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                @*Body will be rendered here*@
            </div>

        </div>
    </div>
</div>
